@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.containerGeneral {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.title {
    margin: 16px auto;
    font-size: 36pt;
    color: #2c3e50;
    border-bottom: 1px solid #2c3e50;
}

.containerCards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}