.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.modalContainer {
    width: 50%;
    min-height: 50vh;
    max-height: 100vh;
    background: #fff;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    width: 100%;
    border-bottom: solid 1px #bdc3c7;
    display: flex;
    justify-content: center;
    padding: 0 0 16px 0;
}

.modalHeader img {
    width: 20%;
}

.modalBody {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 16px 0;
}

.infoRow {
    /* width: 50%; */
    display: flex;
    align-items: baseline;
}

.infoRow h3 {
    color: #424646;
}

.infoRow h4 {
    padding: 0 4px;
}

.btnClose {
    border: none;
    background: #e74c3c;
    padding: 12px;
    color: #ffff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 12pt;
    display: flex;
    align-self: flex-end;
}